@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background: black;
}

.info-left,
.info-right {
  position: absolute;
  z-index: 10;
  color: #aaaaaa;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12pt;
}

.info-left {
  top: 16px;
  left: 32px;
}

.info-right {
  top: 16px;
  right: 32px;
}

.webgl {
  width: 100%;
  height: 100%;
}
